/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */

:root {
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 2.5rem;
  --space-8: 3rem;
  --space-9: 3.5rem;
  --space-10: 4rem;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-dark: #121212;
  --color-gray-light: #525252;

  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-xxs: 10px;
  --font-size-xxxs: 8px;
  --font-size-xxxxs: 6px;
  --font-size-xxxxxs: 4px;
  --font-size-xxxxxxs: 2px;
  --font-size-xxxxxxxs: 1px;
}

html {
  font-size: var(--font-size-base);
  color: var(--color-gray-dark);
  font-family: "Noto Sans";
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(to bottom, #f9fafb, #d2d6db);
  padding-top: 200px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.credits {
  color: var(--color-gray-light);
  position: fixed;
  bottom: var(--space-6);
  left: var(--space-6);
  font-size: var(--font-size-xs);
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: var(--space-2);
  padding: var(--space-6);
  gap: var(--space-4);
  box-shadow: 0px 1px 2px -1px rgb(0 0 0 / 0.10), 0px 1px 3px 0 rgb(0 0 0 / 0.10);
  width: 340px;
  margin: 0 auto;
}

.testimonial-card__profile {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.testimonial-card__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.testimonial-card__name {
  font-size: var(--font-size-lg);
  font-weight: 600;
  margin: 0;
}

.testimonial-card__username {
  font-size: var(--font-size-sm);
  font-weight: 400;
  margin: 0;
  color: var(--color-gray-light);
}

.testimonial-card__text {
  font-size: var(--font-size-base);
  font-weight: 400;
  margin: 0;
  color: var(--color-gray-light);
}